body{
    background-color: rgb(242, 233, 233);
    color: black;
    header{
        padding-left: 100px;
        font-style:normal;
        font-size: small;
        margin-right: 0%;
    }
    h1{
        font-style: 30px;
        color:black;
        font-family: system-ui;
        width: 500px;
        padding-left: 150px;
    }
    h4{
        text-align: center;
        background-color: white;
        height: 50px;
        font-size: 15px;
        font-style:normal;
        
    }
    img{
        padding-left: 150px;
    }
    p{
        padding-left: 150px;
    }
}