body{
    background-color: rgb(241, 236, 236);
    color: black;
    header{
        padding-left: 250px;
        font-style:normal;
        font-size: small;
        height: 20px;
    }
    a{
        text-decoration: none;
        color: black;
        margin-left: 30px;
    }
    h1{
        font-style: 30px;
        color:black;
        font-family: system-ui;
        width: 500px;
        padding-left: 150px;
    }
    h4{
        text-align: center;
        background-color: white;
        height: 50px;
        padding-top: 30px;
    }
    img{
        display:inline;   
        background-color: black;
    }
    p{
        display: inline;
        
    }
}